<div class="container">
    <div class="row" style="display: flex">
      <div class="col-md-6">
        <div class="row" style="display: flex;">
          <div class="col-md-6" style="align-self: center;">
            <div class="footer-logo">
              <a href="#">
                {{site.title}}
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <a href="#">
              <img src="img/logos/{{site.logo}}" class="img-responsive img-centered" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="align-self: center;">
        <a href="https://www.ku.dk/">
          <img src="img/logos/ku_logo_uk_h.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
    </div>
</div>
