 <!-- Publication Modals -->
 {% for post in site.posts %}
    <div class="publication-modal modal fade" id="publicationModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if post.img contains '.pdf' %}
                            <img data-pdf-thumbnail-file="{{ site.url }}/img/publication/{{ post.img }}" 
                                 data-pdf-thumbnail-width="406"
                                 data-pdf-thumbnail-height="289"
                                 src="https://via.placeholder.com/406x289.png?text=PDF" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% else %}
                            <img src="img/publication/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            <p>{{ post.description }}</p>
                            {{ post.content }}
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for member in site.people %}
<div class="publication-modal modal fade" id="personModal{{ member.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ member.name }}</h2>
                        <hr class="star-primary">
                        {% if member.pic %}
                            <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-centered img-circle" style="max-width: 225px;" >
                        {% else %}
                            <img src="https://picsum.photos/225?random={{forloop.index}}" class="img-responsive img-centered img-circle" style="max-width: 225px;" >
                        {% endif %}
                        <p>{{ member.description | markdownify }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}