<!-- Publications Grid Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications, Presentations and Projects</h2>
                    <h3 class="section-subheading text-muted">Our Scientific Work</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 publication-item">
                    <a href="#publicationModal{{ post.modal-id }}" class="publication-link" data-toggle="modal">
                        <div class="publication-hover">
                            <div class="publication-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        {% if post.img contains '.pdf' %}
                        <img data-pdf-thumbnail-file="{{ site.url }}/img/publication/{{ post.thumbnail }}" 
                             data-pdf-thumbnail-width="406"
                             data-pdf-thumbnail-height="289"
                             src="https://via.placeholder.com/406x289.png?text=PDF" class="img-responsive img-centered" alt="{{ post.alt }}">
                        {% else %}
                        <img src="img/publication/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        {% endif %}
                    </a>
                    <div class="publication-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
