<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Research Team</h2>
                    <h3 class="section-subheading text-muted">Part of the PLTC and IMAGE sections at Department of Computer Science, University of Copenhagen.</h3>
                </div>
            </div>
            {% for member in site.people %}
            {% assign loopindex = forloop.index0 | modulo: 3 %}
            {% if loopindex == 0 %}
            <div class="row">
            {% endif %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="#personModal{{ member.modal-id }}" data-toggle="modal">
                        {% if member.pic %}
                            <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-centered img-circle" style="max-width: 225px;" alt="{{member.name}}">
                        {% else %}
                            <img src="https://picsum.photos/225?random={{forloop.index}}" class="img-responsive img-centered img-circle" style="max-width: 225px;" alt="{{member.name}}">
                        {% endif %}
                        </a>
                        <a href="#personModal{{ member.modal-id }}" data-toggle="modal">
                        <h4>{{ member.name }}</h4>
                        </a>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fab fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% if loopindex == 2 %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        "If fallacious reasoning always led to absurd conclusions, it would be found out at once and corrected. But once an easy, shortcut mode of reasoning has led to a few correct results, almost everybody accepts it; those who try to warn against it are not listened to"<br/>
                        &mdash; E. T. Jaynes in "Probability Theory: Logic of Science"
                </div>
            </div>
        </div>
    </section>